:root {
    --color-base:#3b3b3b;
    --elevated-base:#384A4A;
    --elevated-base-darker:#293636;
    --highlingt-color:#077187;
    --basic-text:#EDF7F7;
    --most-important-text:#F9564F;

    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      0px 0.7px 0.5px hsl(var(--shadow-color) / 0.4),
      0.2px 3.1px 2.3px -5px hsl(var(--shadow-color) / 0.2);
    --shadow-elevation-medium:
      0px 0.7px 0.5px hsl(var(--shadow-color) / 0.38),
      0.2px 2.6px 2px -2.5px hsl(var(--shadow-color) / 0.25),
      1px 15.7px 11.8px -5px hsl(var(--shadow-color) / 0.13);
    --shadow-elevation-high:
      0px 0.7px 0.5px hsl(var(--shadow-color) / 0.42),
      0.1px 2.1px 1.6px -1.2px hsl(var(--shadow-color) / 0.33),
      0.8px 11.7px 8.8px -2.5px hsl(var(--shadow-color) / 0.25),
      2.4px 37.7px 28.3px -3.7px hsl(var(--shadow-color) / 0.17),
      5.7px 88.5px 66.5px -5px hsl(var(--shadow-color) / 0.08);

    --eerie-black: #212121ff;
    --teal-blue: #077187ff;
    --tart-orange: #f9564fff;
    --dark-slate-gray: #384a4aff;
    --mint-cream: #edf7f7ff;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--basic-text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html , body {
    margin: 0;
    padding: 0;
    background-color: var(--color-base);
}

body main > header {
    align-items: center;
    background:linear-gradient(to bottom, #1f0606f1, #4a024de3), url(https://images.unsplash.com/photo-1499209974431-9dddcece7f88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.473) 0 0 150px;
    color: var(--basic-text);
    display: flex;
    flex-direction: column;
    height: min(50vh,1080px);
    justify-content: center;
    max-height: 1080px;
}

body main > header * {
    margin: 0;
    padding: 0;
    text-align: center;
}

main section {
    max-width: 1000px;
    margin: auto;
    position: relative;
}

article img {
    max-width: 100%;
    display: block;
    border-radius: 5px;
    box-shadow: var(--shadow-elevation-medium);
    max-height: 80vh;
}

article li > img {
    margin: 30px 0;
}

.m-header > h1 {
    font-size: 4rem;
    color:var(--most-important-text);
}

.m-header > p {
    font-size: 1.5rem;
}

.side-by-side {
    display: flex;
    width: 100%;
    gap: 5%;
}

.side-by-side > div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: start;
}

.side-by-side div > p {
    font-size: 1.2rem;
}

.side-by-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.tut-art {
    margin-bottom: 15vh;
    position: relative;
}

.tut-art h2 {
    scroll-margin: 80px;
    font-size: 3rem;
    color: var(--most-important-text);
    margin: 50px 0 20px 0;
    border-bottom: 5px solid var(--most-important-text);
    padding-bottom: 5px;
    border-image: linear-gradient(to right, var(--most-important-text), rgba(153, 50, 204, 0) 100%) 1;
}

.tut-art h3 {
    font-size: 2rem;
}

.tut-art p {
    margin: 20px 0 10px;
}

.tut-art ol {
    line-height: 2;
    padding-left: 2rem;
}

.tut-art li {
    height: fit-content;
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.tut-art li p {
    font-size: 1rem;
}

.table-of-contents {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    height: fit-content;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.39),rgba(0, 0, 0, 0));
}

.table-of-contents ol {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: fit-content;
    gap: 1%;
    padding: 0 1%;
}

.table-of-contents ol li {
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-basis: 100%;
}

.table-of-contents ol li a {
    text-align: center;
    vertical-align: middle;
    background-color: var(--elevated-base);
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: var(--shadow-elevation-medium);
    transition: box-shadow 0.1s ease-out;
    width: 100%;
}

.table-of-contents ol li a:hover {
    background-color: var(--highlingt-color);
}

.shortcut {
    text-transform: uppercase;
    background-color: var(--elevated-base);
    padding: 10px 20px;
    border-radius: 50px;
    width: fit-content;
    font-size: 1rem;
    font-family: Roboto Mono;
    box-shadow: 2px 2px 0 2px var(--elevated-base-darker);
}

.shortcut::before {
    content: "Shortcut: ";
}

.hint {
    padding: 5%;
    border-radius: 10px;
    box-shadow: var(--shadow-elevation-high);
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--highlingt-color);
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.hint img {
    border-radius: 5px;
    box-shadow: var(--shadow-elevation-low);
    margin: 15px 0;
}

.clickable {
    display: block;
    background-color: var(--highlingt-color);
    text-decoration: none;
    padding: 15px 20px;
    width: fit-content;
    border-radius: 50px;
    box-shadow: var(--shadow-elevation-medium);
    font-weight: bold;
    margin: 0;
    margin: 10px 0;
    transition: transform .1s;
    font-size: 1rem;
}

.contribute i {
    color: var(--most-important-text);
}

.clickable:hover {
    transform: scale(0.95);
}

.contribute {
    animation: contribute 10s infinite 5s;
    color: var(--most-important-text);
}

@keyframes contribute {
    0% {box-shadow: var(--most-important-text) 0 0 0;}
    5% {box-shadow: var(--most-important-text) 0 0 5px 0px;
    transform: scale(1.1);}
    8% {box-shadow: var(--most-important-text) 0 0 0;transform: scale(1);}
    100% {box-shadow: var(--most-important-text) 0 0 0;}
}

.shortcut-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5%;
    margin: 20px 0;
}

.shortcut-grid .shortcut-item {
    display: flex;
    justify-content: space-between;
    gap:2%;
    flex-wrap: wrap;
    position: relative;
}

.shortcut-grid .shortcut-item:nth-child(-n+4) span:nth-child(2) {
    box-shadow: inset 0 0 0 2px royalblue !important;
    background-color: rebeccapurple;
}

.shortcut-grid .shortcut-item:hover span:nth-child(1), .shortcut-grid .shortcut-item:hover span:nth-child(2){
    background-color: var(--most-important-text);
}

.shortcut-grid .shortcut-item span:nth-child(2) {
    font-size: 1.1rem;
    box-shadow: inset var(--most-important-text) 0 0 0 2px;
}

.shortcut-grid .shortcut-item span:nth-child(1),.shortcut-grid .shortcut-item span:nth-child(2) {
    flex-basis: 49%;
}

.shortcut-grid .shortcut-item span:nth-child(3) {
    background-color: var(--elevated-base);
    box-shadow: var(--shadow-elevation-medium),rgba(0, 0, 0, 0.315) 0 20px 15px;
    font-style: italic;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-out,transform .3s ease-out;
    transform: translate(0,+20%);
    display: block;
    visibility: hidden;
    text-align: start;
}

.shortcut-grid .shortcut-item:hover span:nth-child(3) {
    opacity: 100%;
    transform: translate(0,0);
    visibility:visible;
}

.shortcut-grid .shortcut-item > span {
    background-color: var(--highlingt-color);
    text-align: center;
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    font-family: Roboto Mono;
    text-align: center;
    transition: background-color 0.1s ease-out;
}

@media only screen and (max-width: 600px) {
    main {
      display: none;
    }

    body {
        font-size: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10%;
        -webkit-animation: jello-horizontal 0.9s both 2s;
        animation: jello-horizontal 0.9s both 2s,bg 2s infinite linear;
        font-family: Roboto Mono;
        font-weight: bold;
    }

    body::before {
        content: "This website is not available for mobile devices yet";
    }

    /* ----------------------------------------------
 * Generated by Animista on 2021-11-21 10:39:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
  }