.light {
    --color-base:#ffffff;
    --elevated-base:#F2F2F2;
    --elevated-base-darker:#D9D9D9;
    --highlingt-color:#A84CCF;
    --basic-text:#000000;
    --most-important-text:#F9564F;

    --gradient-top:#3d1c1cf1;
    --gradient-bottom:#7a337ce3;
}

header {
    position: relative;
    transition: all 1s;
}

.light-switch {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: text-shadow 1s, opacity 1s;
    /* background-color: var(--basic-text);
    border-radius: 50px; */
    opacity: 20%;
    height: fit-content;
    padding: 15px;
}

.light-switch .circle {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 50px;
    z-index: 1;
    color: var(--basic-text);
}

.light-switch:hover {
    opacity: 1;
}

.light-switch i {
    color: var(--color-base);
    font-size: 30px;
    position: relative;
    z-index: 2;
    top: -3px;
    left: 0;
}

@media screen and (max-width:820px) {
    .light-switch {
        bottom: 0;
        top: auto;
        right: 5px;
    }

}